* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* start header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content ul {
    display: flex;

    list-style-type: none;
    align-items: center;
}

.nav-content ul li a {
    color: black;
    text-decoration: none;
    font-size: 17px;

    text-align: center;

}

.nav-content ul li a span:last-child {

    vertical-align: middle;
    font-size: 10px;
}

.nav-content>ul>div {
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    transition: .5s;
    margin-left: 25px;
}



.nav-content>ul>div:hover {
    background-position: right center;
    cursor: pointer;
}



.nav-content ul>li>a>div {
    display: inline-block;

}

.nav-content ul>li {

    padding: 50px 15px;
}

.nav-content ul>li>a {
    transition: .5s;

}

.nav-content ul>li:hover>a>div {
    animation: pulse .4s;

}

.nav-content ul>li:hover>a {
    color: #f55f8d;
}



/* end header */
/* start carousel */
.carousel {
    padding-top: 200px;
}

.carousel {
    background-image: url(../images/pic2.png);
    background-size: 100%;
    background-position: top;

}

.carousel-content {
    display: flex;
    justify-content: space-between;
}


.carousel-content>div:first-child {
    width: 60%;
}

.carousel-content>div:last-child {
    width: 40%;
}

.content-list>p:first-child {
    color: #F5608C;
    font-weight: bold;
    font-size: 25px;
}

.content-list>p:nth-child(2) {
    padding: 20px 0;
    font-weight: bold;
    font-size: 75px;
}

.content-list>p:nth-child(3) {
    color: #757575;
    font-size: 20px;

}

.content-list {
    padding-top: 50px;
}

.content-list>div {
    padding: 20px 0;

}

.content-list>div>div {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.content-list>div>div>span {
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.content-list>div>div>p {
    color: #757575;
    font-size: 20px;

}

.content-list button {
    padding: 22px 50px;
    color: white;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border: none;
    border-radius: 50px;
    font-size: 17px;
    transition: .5s;
    background-size: 200%;
    cursor: pointer;
}

.content-list button:hover {
    background-position: right center;

}


.content-img img {

    width: 570px;
    margin-left: 50px;
}



.content-list>p:first-child {
    animation: upToTop 2s;

}

.content-list>p:nth-child(2) {
    opacity: 0;
    animation: upToTop 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.content-list>p:nth-child(3) {
    opacity: 0;
    animation: upToTop 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.content-list>div {
    opacity: 0;
    animation: upToTop 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.content-img {
    opacity: 0;
    animation: upToTop 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.content-list>button {
    opacity: 0;
    animation: upToTop 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}


/* end carousel */
/* start service */
.service {
    margin-top: 75px;
    padding-top: 100px;
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.service-content p:nth-child(1) {
    color: #f55f8d;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.service-content>p:nth-child(2) {
    text-align: center;

    font-weight: bold;
    font-size: 70px;
}

.service-content .service-content-list {
    padding-top: 50px;
    display: flex;
    gap: 25px;
}

.service-content .service-content-list>div {
    width: 33.33%;

}

.service-content-container>div>p:nth-child(2) {
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    padding: 20px 0;
}

.service-content-container>div>p:nth-child(3) {
    text-align: center;
    color: #636363;
    font-size: 18px;

}

.service-content-container>div>div>img {
    width: 100%;
    padding: 0px 40px;
}

.service-content-container {
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 30px 45px;
    border-radius: 8px;
    transition: .5s;
}

.service-content-container:hover {
    transform: translateY(-20px);
}

/* end service */
/* start about-us */
.about-us__content {
    display: flex;

}

.about-us__content>div {
    width: 50%;
}

.content-left>div:first-child {
    padding-right: 80px;
    padding-top: 80px;

}

.content-left>div:first-child img {
    width: 100%;
    border-radius: 0 100px 100px 0;
    object-position: right;

}

.content-right {
    padding-right: 150px;
}

.content-right>p:nth-child(1) {
    color: #f55f8d;
    font-weight: bold;
    font-size: 25px;

}

.content-right>p:nth-child(2) {
    font-size: 75px;
    font-weight: bold;
    padding: 20px 0;
    line-height: 75px;

}

.content-right>p:nth-child(3) {
    color: #636363;
    font-size: 18px;
}

.right-has-icon {
    padding: 20px 0;
}

.right-has-icon div {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.right-has-icon div span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #f55f8d;
    border: 1px red solid;
    border-color: #f55f8d;
    line-height: 25px;
    text-align: center;
}

.right-has-icon div p {
    color: #636363;
    font-size: 18px;
}

.content-right button {
    text-transform: uppercase;
    padding: 18px 45px;
    border-radius: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
    border: none;
    font-size: 17px;
    background-size: 200%;
    transition: .5s;
    cursor: pointer;
}

.about-us__content {
    overflow-x: hidden;
}

.content-right button:hover {
    background-position: right center;
}

.content-left {
    opacity: 0;

}

.content-right {
    opacity: 0;


}


.about-us {
    background-image: url(../images/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* end about-us */
/* start number */
.number {
    margin: 100px 0;
    background: url(../images/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
}

.number-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.number-content>div {
    width: 25%;

}

.number-has-icon {

    margin: 0 auto;
}

.number-content>div>div:first-child {
    font-size: 50px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
}

.number-content>div>div:nth-child(2)>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    font-size: 70px;
    font-weight: bold;
    color: #F5608C;
}

.number-content>div>div:nth-child(2)>div:last-child {
    font-size: 20px;
}

/* end number */
/*start features */
.features {
    background-image: url(../images/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.features-content {
    display: flex;

}

.features-content>div {
    width: 50%;
}

.features-left>div:first-child>p:first-child {
    font-size: 22px;
    color: #f55f8d;
    font-weight: bold;
}

.features-left>div:first-child>p:last-child {
    font-size: 75px;
    font-weight: bold;
    padding: 10px 0;
}

.features-left>div:last-child>div {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 10px;
    border-radius: 8px;
    background: white;
}

.features-left>div:last-child>div>div:first-child {
    font-size: 80px;
    color: #f55f8d;
}

.features-left>div:last-child>div>div>div:last-child>p:first-child {
    font-size: 25px;
    font-weight: bold;
}

.features-left>div:last-child>div>div>div:last-child>p:last-child {
    color: #636363;
}

.features-left>div:last-child {
    padding: 15px 0;

}


.features-left>div:last-child>div:nth-child(2) {
    margin: 35px 0;

}

.features-left>div:last-child>div {

    box-shadow: 0 3px 40px rgb(0 0 0 / 0.2);
    margin-right: 45px;

    transition: 2s;
    position: relative;
}

.features-left>div:last-child>div::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    opacity: 0;
    z-index: -100;
    border-radius: 8px;
    transition: 2s;
}

.features-left>div:last-child>div:hover::before {
    background-position: right center;
    opacity: 1;
}

.features-left>div:last-child>div:hover {

    color: white;


}

.features-left>div:last-child>div>div>div:last-child>p:last-child {
    transition: 2s;
}

.features-left>div:last-child>div:hover>div>div:last-child>p:last-child {
    color: white;
}

.features-left>div:last-child>div>div:first-child>i {
    transition: 2s;
}

.features-left>div:last-child>div:hover>div:first-child>i {
    color: white;
}



.features-left>div:last-child>div:nth-child(2) {

    margin-left: 45px;
}

.features-right img {
    width: 110%;
    animation: rotateZ 5s infinite;

    animation-direction: alternate;
}






.features-left>div:first-child {

    opacity: 0;
}



.feature-item1 {


    opacity: 0;

}

.feature-item2 {

    opacity: 0;
}

.feature-item3 {

    opacity: 0;
}







/*end features */
/* start portfolio */
.portfolio {
    margin: 100px 0;
    background-image: url(../images/bg17.png);
    background-size: cover;
    background-position: top center;
    margin-bottom: 0;
}

.portfolio-content>p {
    text-align: center;
}

.portfolio-content>p:first-child {
    color: #f55f8d;
    font-size: 20px;
    font-weight: bold;
}



.portfolio-content>p:nth-child(2) {
    font-size: 70px;
    font-weight: bold;
    padding: 20px 0;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    aspect-ratio: 2/1;


}

.portfolio-grid a {
    color: white;
}

.grid-item {

    margin: 10px;
    position: relative;

}

.grid-item:hover .grid-overlay {
    opacity: 1;
}

.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item:hover .grid-overlay::before {
    transform: skew(-45deg) translateX(950%);
}

.grid-overlay::before {
    transition: .7s;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.461);
    transform: skew(-40deg) translateX(-300px);
}


.grid-item:hover .grid-overlay-icon {
    transform: translateX(-20px) translateY(20px);

}

.grid-item:hover .grid-overlay-text {
    transform: translateY(-80px)
}

.grid-overlay-icon {
    transition: .5s;
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    font-size: 20px;
    cursor: pointer;
}

.grid-overlay-text {
    transition: .5s;

    position: absolute;
    bottom: -50px;
    left: 30px;
}

.grid-overlay-text>p:first-child {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.grid-overlay-text>p:last-child {
    color: #fff;
    opacity: .7;
    padding-top: 10px;
}


.grid-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


.grid-item-1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.grid-item-2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid-item-5 {
    grid-column: 3/4;
    grid-row: 3/5;
}

.grid-item-6 {
    grid-column: 1/3;
    grid-row: 4/5;
}

#grid_item_1,
#grid_item_2 {

    opacity: 0;
}

#grid_item_3,
#grid_item_4 {

    opacity: 0;

}

#grid_item_5 {

    opacity: 0;

}

#grid_item_6 {

    opacity: 0;

}






/* end portfolio */
/* start plan */
.plan {
    background-image: url(../images/bg16.png);
    background-size: cover;

    background-position: center;
}

.plan-content {
    text-align: center;
    padding-top: 120px;
}

.plan-content>p:nth-child(1) {
    color: #f55f8d;
    font-size: 20px;
    font-weight: bold;

}

.plan-content>p:nth-child(2) {
    font-size: 70px;
    padding: 20px 0;
    font-weight: bold;
}

.choices {
    display: flex;
    gap: 40px;
}

.choices>div {
    width: 33.33%;
}

.content-list-choice {
    display: flex;
    flex-direction: column;

}

.list-has-icon {
    display: flex;
    gap: 20px;

}

.content-price>p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}

.content-price>div:nth-child(3)>span {
    color: #f8ae56;
    font-size: 45px;
    font-weight: 800;
}

.content-price>div:nth-child(3)>p {
    font-weight: bold;

    display: inline;
}


.choice-item-container {
    padding: 40px 70px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: white;
}

.choices {
    margin-top: 10px;
}

.line-choice {
    margin: 10px 0;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(225, 223, 223);
    margin-bottom: 20px;
}

.content-price>div {
    padding: 0 60px;
    padding-top: 10px;
}

.content-price>div>img {
    width: 100%;
}

.list-has-icon>div:first-child>i {
    font-size: 14px;
}

.list-has-icon {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

.list-has-icon>div:first-child {
    width: 22px;
    height: 22px;
    color: #f55f8d;
    background-color: #feeff3;
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
}

.list-has-icon>div:last-child {
    font-size: 18px;
}

.choice-item-content>button {
    margin-top: 10px;
    padding: 15px 35px;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: white;
    transition: .5s;
}

.choice-item-container {

    border-radius: 8px;
    transition: 1s;
}

.choice-item-container {




    position: relative;
    transition: all 2s;

}

.choice-item-container::before {
    position: absolute;
    content: '';
    top: -0.5%;
    left: -1%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    border: 3px solid white;
    border-image: url(../images/br.png) 1 round;
    opacity: 0;
    transition: 1s ease-out;
    z-index: -99;
}

.choice-item-container:hover::before {
    opacity: 1;
}


.choice-item-content>button {
    cursor: pointer;
}

.choice-item-content>button:hover {
    background-position: right center;

}

.choice-item-container:hover {
    opacity: 1;




}

/* end plan */
/* start Testimonial */
.testimonial {
    padding: 100px 0;
}

.testimonial__content {
    text-align: center;
}



.testimonial {
    background: url(../images/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial__content {
    max-width: 1199px;
    margin: auto;
    text-align: center;

}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
    text-align: center;
}



.testimonial-thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
    left: 0;
    background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);

}

.testimonial-thumbs::after {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
    right: 0;
    background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);

}

.testimonial-pic {
    position: relative;
}

.testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    height: 15px;
    width: 15px;


    transform: translateX(-50%);
    opacity: 0;


}

.testimonial-pic::after {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    height: 10px;
    width: 10px;
    bottom: -7px;

}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}

.shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    background-image: url(../images/pattern12.png);
    background-position: bottom;
    background-size: contain;

    height: 100%;
    width: 100%;
    transition: all 1s;
}

.testimonial-comment {
    position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.testimonial-name {
    font-size: 25px;
}

.testimonial-text>p:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    padding: 15px 15px;
    padding-top: 10px;
    color: #f55f8d;
    position: relative;
}

.testimonial-text>p:nth-child(4) {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
    color: #6C6C6C;
    padding-top: 15px;
}

.testimonial-text>i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.swiper-pagination-bullet-active {
    background-color: #f55f8d;
}

.testimonial-comment {
    min-height: 0 !important;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::after {
    opacity: 1;
}

.testimonial__content>p:nth-child(1) {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.testimonial__content>p:nth-child(2) {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}


.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* end Testimonial */
/* start blog */


.blog-content>p:first-child {
    font-weight: 600;
    font-size: 22px;
    color: #f55f8d;
    text-align: center;
}

.blog-content>p:nth-child(2) {
    font-size: 70px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}




.blog-item img {
    width: 100%;
}

.blog-body {
    padding: 25px 20px;
    position: relative;
}

.blog-body>p:nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    color: #262626;

}

.blog-body:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: rgb(205, 205, 205);
}

.blog-body>p:nth-child(2) {
    padding: 10px 0;
    color: #636363;
}

.blog-footer {
    display: flex;
    gap: 20px;
    align-items: center;
}



.blog-footer>div:first-child>span:first-child>i {
    color: #f55f8d;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #f55f8d;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
}

.blog-footer>div:first-child>span:nth-child(2) {
    color: #636363;
}

.blog-footer>div:first-child>span:last-child {
    color: #f55f8d;
}

.blog-footer>div:last-child>span:first-child {
    color: #f55f8d;
}

.blog-footer>div:last-child>span:last-child {
    color: #636363;
}

.blog-item {
    background: rgba(245, 95, 141, .1);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.blog-footer {
    padding: 15px 20px;
}

.blog-logo p {
    display: inline-block;
    padding: 10px 25px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    border-radius: 8px;
    color: white;
    position: absolute;
    top: 200px;
    left: 15px;
}

.blog {
    background-image: url(../images/bg16.png);
    background-position: top center;
    background-size: cover;
    padding-top: 70px;
}

/* end blog */
/* start footer */
/* start Subscribe */
.subscribe {
    position: relative;
    z-index: 3;
}

.subscribe-content {

    background-color: white;
    border-radius: 8px;
}

.subscribe-content {
    display: flex;
}

.subscribe-content>div {
    width: 50%;
}

.subscribe-text {
    font-size: 20px;
    font-weight: bold;
}



.form-container {
    display: flex;
}

.form-container>input {
    width: 82%;

}

.form-container>input:focus {
    border: 1px solid #f55f8d;
    outline: none;
}



.form-container input:hover {
    border: 1px solid #f55f8d;
}

.form-container>button {
    flex-grow: 1;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: none;

    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

    color: white;
    transition: .5s;
    cursor: pointer;
}

.form-container>button:hover {
    background-position: right center;
}


.subscribe-content {
    background-image: url(../images/pattern3.png);
    background-position: bottom;
    background-size: 100%;
    padding: 55px 60px;
    opacity: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


}

.subscribe-text {
    font-size: 30px;
}

.form-container input {
    padding: 20px;
    font-size: 17px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    transition: .5s;
    border: 1px white solid;
    border-right-width: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



/* end Subscribe */
footer {
    margin-top: 50px;
    background: url(../images/bg4.png);
    background-size: contain;
    background-position: center;

    background-repeat: no-repeat;
    background-color: #0e1b1f;
    position: relative;
    z-index: 1;
}

footer::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/pattern2.png);

    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

.footer-down {
    display: flex;
    color: white;
    margin-top: 60px;
    padding-bottom: 50px;
}

.footer-down>div {
    width: 25%;
}

.footer-down>div>div:nth-child(2) {
    margin-top: 10px;
}

.footer-item-flex {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}

.footer-item-flex-icon {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
}

.flex-column-item {
    display: flex;
    flex-direction: column;
}

.item-footer-somethinggg a {
    display: flex;
    gap: 15px;
    color: #636363;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
    transition: .5s;
}

.item-footer-somethinggg:hover a {
    color: white;
}

.flex-column-item ul {
    margin-top: 40px;
    list-style-type: none;
}

.down-item>p {
    position: relative;
    font-size: 26px;
    font-weight: bold;
}

.down-item>p::before {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 0;
    width: 18px;
    height: 5px;
    border-radius: 8px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);

}

.down-item>p::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 22px;
    width: 45px;
    height: 5px;
    border-radius: 8px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);

}

.footer-copyright {

    padding: 10px 0;
    background-color: #1f343b;
    color: white;
}

.copy-right-content {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.copy-right-content>div:first-child {
    margin-bottom: 5px;
}

.copy-right-content>div:first-child>span {
    color: #f55f8d;
}

.copy-right-content>div:last-child {
    display: flex;
    gap: 5px;

}

.copy-right-content>div:last-child>div>a {
    color: white;
}

.copy-right-content>div:last-child>div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.copy-right-content>div:last-child>div:hover {
    background-color: #f55f8d;
}

/* end footer */
.buttonUp {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #f55f8d;

    opacity: 0;
    transition: .5s;
    cursor: pointer;
    z-index: 999;
}

.footer-down {

    opacity: 0;
}


@keyframes leftToCenter {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }


}

@keyframes rightToCenter {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



@keyframes upToTop {
    0% {
        transform: translateY(200);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes wow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes downFeaturesAnimation1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes downFeaturesAnimation2 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse {


    50% {
        transform: translateY(30px);
        opacity: 0;
    }

    65% {}

    75% {
        transform: translateY(-30px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        opacity: 1;

    }
}

@keyframes upToTop {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes rotateZ {
    50% {
        transform: rotateZ(1deg);
    }

    100% {
        transform: rotateZ(-2deg);

    }

}

@keyframes upFeaturesAnimation {
    0% {
        transform: translateX(-70%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes gridAnimation1 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}